Inspector {
    z-index: 1000;
    opacity: 0;

    &.enabled {
        pointer-events: all;
        opacity: 1.0;
    }

    InspectorTarget {
        position: absolute;
        color: red;
        border: 1px solid red;
    }

    .info {
        font-family: Roboto;
        background-color: rgba(30, 30, 30, 0.9);
        color: white;
        top: 0%;
        height: 18px;
        min-width: 10px;
        transform: translateY(-100%) translateX(-1px);
        font-size: 14px;
        position: absolute;
        padding: 2px;
        border-radius: 2px;
        z-index: 1000;
    }

    .info.move_down {
        transform: translateY(0%);
    }

    .info.move_left {
        right: 0%;
    }
}
